@using OnlineShop.Models
@model messag

<div>
 
   <div style="color:white;float:left"> @Model.username</div><div style="float:right">  @Html.ActionLink(" LOGOUT", "LogOut", "Authentication", null, new { style = "color:Black" }) </div>
   
    </div>
