body {
}
.feildlable{
    font-family:Calibri;
    font-weight:normal;
    
}
.feildwraper{
    color:#900b0b;
    margin:3px 0px 2px 10px;
}
.tbox{
    border-color:#900b0b;
    padding:1px;
}
.dropdown{
    border-color:#900b0b;
    width:100px;
}
.buttonNormal{
    color:#ffffff;
    height:25px;
    width:100px;
    background-color:#900b0b;
}
.loginpage{
    height:200px;
    width:400px;
    border:thin solid;
    border-color:#900b0b;
    
}
.loginsec2{
    padding:180px 350px 150px 200px;

}
.loginheader{
    width:100%;
    height:30px;
    background-color:#900b0b;
   
   
}
.innerlog{
    width:50%;
    text-align:left;
    font-size:19px;
    font-family:Calibri;
    margin-left:10px;
    color:#ffffff;
}