@using Online_Shop.Application.Entities
@model Category
@{
    Layout = "~/Views/AdminPanel/Layout.cshtml";
    ViewBag.Title = "Add Category";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>

    <link href="~/Contentts/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Contentts/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Contentts/Scripts/bootstrap.js"></script>
    <link href="~/Contentts/CSS/Sheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container"> 
        Enter Category Name:
        @using (Html.BeginForm("AddCategory", "AdminPanel", FormMethod.Post, new { role = "form" }))
        {
            @Html.DisplayFor(m=>m.Title)
            @Html.TextBoxFor(m=>m.Title)
            <input type="submit" value="Add" class="btn btn-default" /> 
        }


    </div>
</body>
</html>
